#datosPedido,#datosCliente,#datosEnvio{
	margin-left: 15px;
}
#logo{
	width: 730px;
	height: auto;
	text-align: center;
}
#pedido{
	margin-left: 5px;
}
#tablaUsuario{

}
.tdDatos{
	text-align: left;
}
.tdTitulos{
	font-weight: bold;
}
table{	
	color:black;
	background-color:;
	border-collapse: collapse;
}
td{
	width: 350px;
	border-top: 2px solid rgb(250,210,61);
	border-bottom: 2px solid rgb(250,210,61); 
	text-align: left;
}